.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeHeader {
    padding: 20px 5px;
    padding-bottom: 30px;
}

#trending {
    text-decoration: underline;
}

#homeImg {
    margin: 0 50px;
}